@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Fabric';
    src: url(../font/Fabrica-ZOjx.otf);
}

@font-face {
    font-family: 'Fun';
    src: url(../font/SuperCorn-X3xGg.ttf);
}

body{
    font-family: 'Fabric', sans-serif;
}

h2{
    color: white;
}
button{
    padding: 20px 23px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    transition: all .2s;
}

.buttonG{
    background-color: #e64900;
    color: white;
}
button:hover{
    transform: scale(0.97);
    filter: brightness(1.2);
}

button:active{
    transform: scale(0.90);
}


input{
    margin: 10px;
    padding: 10px;
    background: none;
    border-color: white;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    text-align: center;
}


.background-login{
    background: fixed url(../img/Cal.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.messages{
    color: rgb(253, 0, 0);
    text-shadow: 0px 0px 10px white;
}

.title{
    font-family: 'Fun', sans-serif;
}

a{
    cursor: pointer;
}

.buttonLogout{
background-color: red;
font-size: small;
color: white;
padding: 1%;
border-radius: 40;
}

.me{
color: white;
background-color: rgb(119, 119, 119);
text-align: end;
float: right;
}

.them{
color: bisque;
background-color: rgb(63, 62, 62);

text-align: start;
float: left;

}

.inputchat{
    color: white;
}

.buttonSend{
    background-color: #59a503;
    color: white;
    padding: 10px;
}

.chatmessage{
    border-radius: 10px;
    margin-inline: 7%;
    padding: 1%;
    margin-block: 1%;
}
.text-shadow{
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
}
.bg-chat{
    background: fixed url(../img/bgchat.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


