@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'lexend';
    src: url(../font/Lexend-Regular.ttf);
}

@font-face {
    font-family: 'Fun';
    src: url(../font/SuperCorn-X3xGg.ttf);
}

body{
    font-family: 'lexend', sans-serif;
}

h2{
    color: white;
}

button{
    transition: all .2s;
    cursor: pointer;


}

.buttonG{
    background-color: #e64900;
    color: white;
}
.button:hover{
    transform: scale(0.97);
    filter: brightness(0.8);
}

.button:active{
    transform: scale(0.90);
}


input{
    margin: 10px;
    background: none;
    border-color: white;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    text-align: center;
}




.background-login{
    background: fixed url(../img/Cal.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.messages{
    color: rgb(253, 0, 0);
}

.title{
    font-family: 'Fun', sans-serif;
}

a{
    cursor: pointer;
}

.buttonheader{
font-size: small;
color: white;
padding: 5px;
height: 100%;
width: 40px;
min-width: 40px;
}

.loader{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid #f3f3f3;
    border-top: 10px solid #db4734;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.welcome > *{
    opacity: 0;
}

.buttonwelcome{
    animation: selectRoom 0.3s ease-in forwards;
}

.welcome > *:nth-child(1){
    animation: shows 1s ease-in-out forwards;

}

.welcome > *:nth-child(2){
    animation: showsopacity 1s ease-in-out forwards;
    animation-delay: 0.2s;

}
.buttonwelcomebefore{
    animation: shows 1s ease-in-out forwards;
    animation-delay: 0.4s;
}

@keyframes selectRoom {

    0%{
        opacity: 1;
        transform: translateY(0);
    }
    20%{
        color: transparent;
    }
    100%{
        opacity: 1;
        transform: translateY(-300px);
        color: rgb(252, 252, 252);
        width: 80px;
        height: 80px;
        background-color: #ff0000;
        border: none;
        pointer-events: none;


    }
    
}

@keyframes shows {

    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
    
}
@keyframes showsopacity {

    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 0.4;
        transform: translateY(0px);
    }
    
}

@keyframes loading {
    0%,80%,100%{
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    
  }

.me{
color: white;
background-color: #f97316;
float: right;

}

.them{
color: white;
background-color: rgba(255, 255, 255, 0.075);
float: left;

}



  
  
  .loadinganimation div {
    animation: loading 1s infinite;
  }
  
  .loadinganimation div:nth-child(1) {
    animation-delay: 0s;
  }
  
  .loadinganimation div:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .loadinganimation div:nth-child(3) {
    animation-delay: 0.4s;
  }

.inputchat{
    color: white;
}

.buttonSend{
    background-color: #f97316;
    color: white;
    padding: 10px;

}
.buttonSend:hover{
    filter: brightness(0.8);
}

.buttonSend:active{
    transform: scale(0.90);
}

.chatmessage{
    margin-inline: 7%;
    margin-block: 4px;
}
.text-shadow{
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
}
.bg-chat{
    background: fixed url(../img/bgchat.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.scrollbar{
    scrollbar-color:  #e64900 #000000;
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

.scrollbar-dark{
    scrollbar-color:  #424242 #000000;
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

html, body{
    height: 100%;
    }


